<p id="notice"><%= notice %></p>

<p>
  <strong>Request:</strong>
  <%= @report_request.request %>
</p>

<%= link_to 'Edit', edit_report_request_path(@report_request) %> |
<%= link_to 'Back', report_requests_path %>
