/*flash*/

div {
  margin-left: 20px;
}

.home {
  border: 2px solid;
  border-radius: 5px;
  border-color: cyan;
  width: 350px;
  height: 150px;
  box-shadow: 10px 10px 10px #888888;
  background-color: gray;
  color:white;
  text-shadow: 2px 2px black;
  margin-left: 20px;
  text-align: center;
  font-family: "Trebuchet MS, Helvetica, sans-serif";
  font-weight: bold;
    
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: left;
 }

.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }

.alert-notice {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #468847;
    text-align: left;
 }